<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">
          <img src="/assets/img/ali-sokmen-low-resolution-logo-white-on-transparent-background.png" alt="personal logo"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown">Professional
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/cv">Curriculum Vitae</a></li>
            <li><a routerLink="/portfolio">Portfolio</a></li>
          </ul>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" data-toggle="dropdown">Personal
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/archery">Archery</a></li>
            <li><a routerLink="/guitar">Guitar</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>