<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top py-3">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home">
    <img src="/assets/img/ali-sokmen-low-resolution-logo-white-on-transparent-background.png" width="20" alt="personal logo"></a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Professional
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/cv">CV/Resume</a>
        <a class="dropdown-item" routerLink="/portfolio">Portfolio</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Personal
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/archery">Archery</a>
        <a class="dropdown-item" routerLink="/guitar">Guitar</a>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>